

<p style="color: green"><%= notice %></p>

    <h3>Lawsuits</h3>
    <div id="lawsuits">
      <% @lawsuits.each do |lawsuit| %>
        <%= render lawsuit %>
        <p>
          <%= link_to "Show this lawsuit", lawsuit %>
        </p>
      <% end %>
    </div>

    <%= link_to "New lawsuit", new_lawsuit_path %>
