<div class="container-fluid">

<p style="color: green"><%= notice %></p>

   <% @lawsuits.each do |i| %>

      <%= link_to i.case_title, lawsuit_path(i) %> 
      <%= i.case_number %><br> 

   <% end %>



</div>