<div class="container-fluid">
	<%= link_to "Lawsuits - Stored", scrapes_index_path, class:"btn btn-success" %>
	<%= link_to "Something else", "Z", class:"btn btn-success" %>
	<%= link_to "New Case Filings", ncfs_path, class:"btn btn-primary" %>


</div>

