
<p style="color: green"><%= notice %></p>


<div class="container-fluid">
    <h3>Clients</h3>

    <div id="clients">
      <% @clients.each do |client| %>
        <%= render client %>
      <% end %>
    </div><br>


    <%= link_to "New client", new_client_path, class:"btn btn-info" %>
</div>