


<p style="color: green"><%= notice %></p>
<div class="container-fluid">
	<h1>Index</h1>
	<% counter = 0 %>
	<% @roas.each do |i| %>
		<%= link_to i, scrapes_view_path(counter) %><br>
		<% counter = counter + 1 %>
	<% end %> 

</div>

