<p style="color: green"><%= notice %></p>

<div class="container-fluid">

    <h3>Attorneys</h3>

    <div id="attorneys">
      <% @attorneys.each do |attorney| %>
        <%= link_to attorney.name, attorney %> <%= attorney.firm %><br>

      <% end %>
    </div>
    <br>
    <%= link_to "New attorney", new_attorney_path, class:"btn btn-warning" %>


</div>